body {
    background: radial-gradient(circle at 50% 50%, #e5f2bb,
     #e6ebad, #e9e39f, #ecdb92, #f0d286, #f5c97b, #fabf72, #ffb56b);
}

header { 
    /* Text Style */
    text-align: center;
    color: rgb(0, 0, 0); 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 50px; font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 

    /* Position Style */
    border-style: solid;
    padding: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
}

#canvas-container {  
    border-style: solid;
    border-width: 2px;
    border-top: none;
    display: flex;
    margin: auto;
    width: 500px; /* Width and height have to be fixed here because the canvas
    needs to stay the same height */
    height: 500px;

    /* Grid Style */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.cell-new {
    border-style: solid;
    border-width: 1px;
    background: rgb(255, 255, 255);
}

.cell-new:hover {
    background: rgb(0, 0, 0);
}

.cell-drawn {
    background: rgb(0, 0, 0);
}

.button {
    /* Position Style */
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 5px;
    margin: 10px;

    /* Text Style */
    color: rgb(0, 0, 0); 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 15px; font-weight: bold; 
    letter-spacing: 0px; 
    line-height: 1; 
    text-align: center;
}

#button-rack {
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}